/* logo font */
.climate-crisis {
  font-family: "Climate Crisis", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YEAR" 1979;
}
/* menu font */

/* pfont */
p {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  text-align: center;

  margin-left: 2em;
  margin-right: 2em;
}
/* h1font */
h1 {
  font-family: "Crushed", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.5em;
  text-align: center;
  margin-top: 1em;
}

/* h2font */
h2,
h3 {
  font-family: "Crushed", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.5em;
  text-align: center;
  margin-top: 1em;
}
h3 {
  color: #e43033;
}
.nomargin {
  margin-top: -4em;
}

.enkeltunder {
  color: #e43033;
  font-size: 1.4em;
 
}
