body {
  background-color: #ffffe8;
  margin: 0;
  padding: 0;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  align-items: center;
  margin: 20px;
}

main p {
  margin-bottom: 5em;
}
/* knapper */
.cta-button {
  text-align: center;
  background-color: #bb2f14;
  border: 4px solid red;
  margin: 20px;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: rgba(255, 0, 0, 0.38) 4px 4px;
  display: flex;
  justify-content: center;
  color: #fff;
}
.cta-button:hover {
  background-color: #fff;
  color: #000;
}
.placementbtn {
  display: flex;
  place-content: center;
  margin-top: -4em;
  margin-bottom: 3em;
}
button {
  place-content: center;
}

:link {
  text-decoration: none;
  font-family: "bai jamjuree", sans-serif;
}
.cta-button:hover {
  color: #000;
}
.cta-button,
.cta-button:link,
.cta-button:visited {
  text-decoration: none;
  color: #fff;
  font-family: "crushed", sans-serif;
  font-size: 15px;
  font-weight: 700;
}
menu a,
menu a:link,
menu a:visited {
  display: block;
  color: #bb2f14;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}
:link:hover {
  color: #000;
}
/* popover */
.overlay::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.btn-popover {
  background-color: #bb2f14;
  color: #fff;
  border: 2px solid red;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(255, 0, 0, 0.38) 4px 4px;
  cursor: pointer;
  margin: 20px;
  font-family: "crushed", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.btn-popover:hover {
  background-color: #fff;
  color: #000;
}
[popover] {
  transition: 1s allow-discrete;
  padding: 1rem;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  margin: auto;
}

/* footer */
footer {
  border-top: #000000 1px solid;
  background-color: #bb2f14;
  color: #fff;
  padding: 60px 10px 20px;
  font-family: "bai jamjuree", sans-serif;
}

footer p {
  font-size: 14px;
  color: #fff;
  line-height: 1.6em;
  margin: 2em;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.imgfooter {
  width: 40%;
  margin-left: -50px;
}

/* Footer bottom */

.footer-bottom p {
  font-size: 13px;
}
/* footer media */
@media (max-width: 600px) {
  footer {
    padding: 60px 40px 20px;
  }

  footer p {
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    text-decoration: none;
  }
  .footer-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    margin-top: 40px;
    text-align: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 800px) {
  main p {
    margin-left: 5em;
    margin-right: 5em;
  }
  .spacesides {
    margin-left: 10em;
    margin-right: 10em;
  }
}
