body {
  /*
  background-image: url("../images/baggrund.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;*/
  background-color: #ffffe8;
  margin: 0;
    padding: 0;
}
/* knapper */
.cta-button {
  text-align: center;
  background-color: #fff;
  border: 4px solid red;
  margin: 20px;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: rgba(255, 0, 0, 0.38) 4px 4px;
 display: flex;
  justify-content: center;

}
button{place-content: center;}
.cta-button:hover {
  background-color: #bb2f14;
  color: #000;
}
:link {
  text-decoration: none;
  color: #000000;
  font-family: "bai jamjuree", sans-serif;
}
/* popover */
.overlay::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.btn-popover {
  background-color: #ffffff;
  border: 2px solid red;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(255, 0, 0, 0.38) 4px 4px;
  cursor: pointer;
  margin: 20px;
}
.btn-popover:hover {
  background-color: #bb2f14;
  color: #ffffff;
}
[popover] {
  /* /* opacity: 0; */
  transition: 1s allow-discrete;
  padding: 1rem;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  margin: auto;
}

/* footer */
footer {
  border-top: #000000 1px solid;
  background-color: #bb2f14;
  color: #fff;
  padding: 60px 10px 20px;
  font-family: "bai jamjuree", sans-serif;
}

footer p {
  font-size: 14px;
  color: #fff;
  line-height: 1.6em;
  
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

/* Tykkere spacing mellem afsnittene */

.imgfooter {
  width:   40%;
  
}

/* Footer bottom */

.footer-bottom p {
  font-size: 13px;
}
/* footer media */
@media (max-width: 600px) {
  footer {
    padding: 60px 40px 20px;
    font-family: "Inter", sans-serif;
  }

  footer p {
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    text-decoration: none;
  }
  .footer-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    margin-top: 40px;
    text-align: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }

  .footer-top-wrapper {
    /* padding-top: 40px; */
   
  }
}
