.imgmig {
  width: 100%;
  margin-top: 0.2em;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  align-items: center;
  margin: 20px;
}
.secline{ border-top: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 1400px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 4em;}