main img {
  width: 90%;
  display: flex;
    margin: auto;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  align-items: center;
}
